body{
    background-image: url(./images/background.jpg);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    
}

.frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 480px;
    width: 600px; */
    border-style: solid ;
    border-radius: 8%;
    border-width: 100px 150px;
    border-color: rgb(192, 2, 2);
    box-shadow: 0px 0px 20px rgb(63, 27, 27);
}

.title {
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    position: absolute;
    top: -26%;
    color: rgb(251, 255, 0);
    text-shadow: 0px 0px 5px black;
}

.canvas{
    margin: auto;
    display: grid;
    height: 480px;
    width: 600px;
    box-shadow: 0px 0px 10px rgb(63, 27, 27);
    /* border-style: solid;
    border-radius: 30%;
    border-width: 200px;
    border-color: red; */
}

.knob {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    bottom: -10%;
    box-shadow: 0px 0px 10px 1px rgb(63, 27, 27);
}

.left{
    left: -16%;
}

.right {
    right: -16%;
}

.column {
    display: inline-block
}

.grid {
    border-style: none;
    background: whitesmoke;
}


.gridBorder {
    border-style: groove;
    border-width: 0.02px;
}

.buttons {
    right: -21%;
    top: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.buttons button {
    font-family: sans-serif;
    font-size: 20px;
    color: whitesmoke;
    width: 100px;
    height: 60px;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: rgb(161, 23, 23);
    border: none;
    box-shadow: 0 0 5px black;
}

.buttons button:focus {
    outline: none;
    box-shadow: 0 0 7px 1px black;
}

